/* Exhibition List */
.mainContainer {
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

.listHeaderContainer {
  display: flex;
  align-items: center;
}

.listHeader {
  font-size: 2rem;
  margin-top: 10px;
  color: #484848;
}

.exhibitionListContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  padding-bottom: 10px;
  justify-content: center;
}

/*Exhibition */
.exhibitionContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #e8eef5;
  border-radius: 10px;
  padding: 20px;
  margin: 30px auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.exhibitionHeaderContainer {
  display: flex;
  justify-content: space-between;
}

.exhibitionHeader {
  display: flex;
  align-items: flex-start;
  color: #224e81;
  text-align: left;
  font-size: 1.5rem;
}

.description {
  font-size: 1.1rem;
  text-align: justify;
  color: #888;
  margin-top: 20px;
  margin-right: 20px;
}

/* Auction */
.auctionListContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 20px;
  padding-bottom: 10px;
  justify-content: center;
}

.auctionContainer {
  color: #484848;
  width: 250px;
  height: 250px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5%;
  margin: 5px;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.5);
}

.auctionHeader {
  font-size: 1rem;
  margin-top: 10px;
  color: #484848;
  text-align: left;
}

.imageContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.imageContainer img {
  width: 90%;
  height: 100px;
  border-radius: 5%;
}

.moreButton {
  margin-top: 20px;
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.4s ease;
  background-color: #444;
  border: 2px solid transparent;
  text-align: left;
  display: block;
}

.moreButton:hover {
  background-color: #fff;
  color: #444;
  border-color: #444;
}
