.searchEntryContainer{
    background-color: #e95793;
      margin-top: 30px;
      border: 1px solid #ccc;
      border-radius: 20px; /* Adjust the value to control the roundness of the corners */
      overflow: hidden; 
      width: 50%;
      position: fixed;
      top: 70px; /* Adjust this value based on your design */
      left: 70%;
      transform: translateX(-50%);
      text-align: center;
      margin-left: 30px;
      margin-right: 30px;
      margin-bottom: 20px; /* Adjust the margin based on your design */
      object-fit: cover;
    }
    .searchEntry {
      width: 80%;
      left: 50%;
      justify-content: center;
    }
    .searchText {
      font-size: 1rem;
      margin-bottom: 5px;
      color: #333; /* Adjust the color based on your design */
    }
    .searchEntryPlace{
      justify-content: center;
      border-radius: 60px;
    }
    .searchEntry input {
      margin-left: 50px;
      margin-bottom: 10px;
      padding: 8px;
      width: 100%;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    