/* SEARCH ENTRY */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: auto;
  overflow-x: hidden;
}

.searchText {
  margin-top: 40px;
  font-size: 20px;
}

.closeButton {
  background: none;
  border: none;
  cursor: pointer;
  color: #000;
  display: flex;
  align-items: flex-end; 
  margin-left: auto;
}

.formInput {
  width: calc(100% - 40px);
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 10px;
  font-size: 16px;
  background-color: transparent;
  outline: none;
  color: #333;
  height: calc(100% - 2px);
}

.search {
  width: 500px;
  border: 1px solid transparent;
  position: relative;
  border-radius: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: #efefef;
  height: 40px;
  color: #333;
}

.searchButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*SEARCH RESULT */
.resultContainer {
  width: 400px;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: auto;
  overflow-x: hidden;
  background-color: #eee;
  margin-top: -8px;
}

.resultHeader {
  font-size: 1.2rem;
  font-weight: bold;
}

.resultLink {
  cursor: pointer;
  font-size: 1rem;
}

.resultLink:hover {
  text-decoration: underline;
}
