/* EditorPickList */
.mainContainer {
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
}

.headingText {
  text-align: center;
  color: #484848;
  font-size: 2rem;
  padding: 10px 100px;
}

.listHeaderContainer {
  display: flex;
  align-items: center;
}

.listHeader {
  font-size: 2rem;
  margin-top: 20px;
  color: #484848;
}

.editorPickListContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  padding-bottom: 10px;
  justify-content: center;
}

/*Editor Pick */

.editorPickContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #dfdae9;
  border-radius: 10px;
  padding: 20px;
  width: 900px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.imageContainer {
  flex: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageContainer img {
  height: 200px;
  object-fit: cover;
}

.detailsContainer {
  align-items: center;
  flex: 3;
  margin-left: 20px;
}

.editorPickTitle {
  display: flex;
  font-size: 1.5rem;
  color: #484848;
}

.personNameTitle {
  display: flex;
  font-size: 2rem;
  color: #000;
  font-weight: bold;
}

.editorPickDescription {
  font-size: 1rem;
  text-align: justify;
  color: #888;
}

.auctionDescriptionTitle {
  font-size: 1.2rem;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #484848;
}


.auctionDescriptionTitle {
  font-size: 1.2rem;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #484848;
}

.moreButtonContainer {
  flex: 0.3;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  justify-content: space-between;
  height: 100%;
}

.moreButton {
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.4s ease;
  background-color: #444;
  border: 2px solid transparent;
  text-align: right;
  display: block;
}

.moreButton:hover {
  background-color: #fff;
  color: #444;
  border-color: #444;
}

.personType {
  font-size: 1.2rem;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-style: italic;
  color: #484848;
}

.personNameTitle {
  display: flex;
  font-size: 2rem;
  color: #000;
  font-weight: bold;
}

.seeProfileButtonContainer {
  flex: 1;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  justify-content: space-between;
  height: 100%;
}

.personType {
  font-size: 1rem;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-style: italic;
  color: #484848;
}



